@page {
    font-family: Lato;
    font-size: 0.85em;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 4cm;
    margin-bottom: 2cm;
    @top-center {
        content: element(header);
        vertical-align: top;
        margin-top: 1.5em;
        width: 100%;
    }
    @bottom-center {
        content: element(footer);
        vertical-align: bottom;
        margin-bottom: 1.5em;
        width: 100%;
    }
}
body {
    font-family: Lato;
    font-size: 0.85em;
    margin: 0px;
    padding: 0px;
}
.header {
    position: running(header);
}
.header * {
    white-space: nowrap;
}
.footer {
    position: running(footer);
    width: 100%;
}
.footer .page:before {
    content: counter(page);
}
.footer .topage:before {
    content: counter(pages);
}
.o_standard_footer {
    margin-top: 0;
}
