<?xml version="1.0" encoding="UTF-8"?>

<!--

    Copyright (c) 2017-2019 MuK IT GmbH.

    This file is part of MuK Web Utils 
    (see https://mukit.at).

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

  -->

<templates id="template" xml:space="preserve">

<t t-name="muk_web_utils.MissingModuleDialog">
    <div class="row" role="status">
        <div class="col-6">
            <img class="img-fluid" t-att-src='_s + "/muk_web_utils/static/src/img/module.png"' alt="Missing Module" />
        </div>
        <div class="col-6">
            <p><strong>The module could not be found on the server.</strong></p>
            <p>Click on the download button to be redirected to the store and download the corresponding module.</p>
        </div>
    </div>
</t>

</templates>