<odoo>
    <menuitem
        id="menu_kpi_dasboard"
        name="Key Performance Indicators"
        action="open_kpi_dashboard"
        sequence="15"
        parent="spreadsheet_dashboard.spreadsheet_dashboard_menu_root"
        groups="base.group_user"
    />

    <!-- CONFIGURATION -->
    <menuitem
        id="menu_configuration_kpi"
        name="Key Performance Indicators"
        parent="spreadsheet_dashboard.spreadsheet_dashboard_menu_configuration"
        groups="kpi.group_kpi_manager"
        sequence="10"
    />

    <menuitem
        id="menu_configuration_kpi_kpi"
        name="Key Performance Indicators"
        action="open_kpi_list"
        sequence="10"
        parent="menu_configuration_kpi"
    />

    <menuitem
        id="menu_configuration_kpi_category"
        name="Categories"
        action="open_category_list"
        parent="menu_configuration_kpi"
        sequence="20"
    />

    <menuitem
        id="menu_configuration_kpi_threshold"
        name="Thresholds"
        action="open_threshold_list"
        parent="menu_configuration_kpi"
        sequence="30"
    />

    <menuitem
        id="menu_configuration_kpi_range"
        name="Ranges"
        action="open_threshold_range_list"
        parent="menu_configuration_kpi"
        sequence="40"
    />
</odoo>
